@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");

.custom-next-button {
	background: linear-gradient(90deg, #4e1ec1, #a958f1);
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 10px;
	width: 300px;
	height: 48px;
	padding: 14px 117px;
	font-family: "Outfit", sans-serif;
}

.custom-next-button:hover {
	background: linear-gradient(90deg, #3e0fb8, #9450e0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--font-family-outfit: 'Outfit', sans-serif;
	--font-size-body: 16px;
	--font-size-heading: 20px;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 600;
  
	--color-text-primary: #333;
	--color-text-secondary: #6C6C80;
	--color-background-primary: #F7F7F8;
	--color-background-paper: #FFFFFF;
	--color-border: #D6D6E7;
  
	--spacing-small: 8px;
	--spacing-medium: 16px;
	--spacing-large: 32px;
  
	--box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }